body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

#note-display {
  font-size: 24px;
  margin-top: 20px;
}

#result-display {
  font-size: 20px;
  margin-top: 10px;
}

#microphone-select {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
}

#controls {
  margin-top: 20px;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

#microphone-selection {
  margin-bottom: 30px;
}

hr {
  margin: 30px 0;
  border: 1px solid #ccc;
}
